.submit {
  margin-top: 12px;
  button {
    margin-left: 136px;
    background-color: #1890ff;
    border-radius: 6px;
    line-height: 20px;
    padding: 8px 16px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 14px;
    cursor: pointer;
  }
}

:global {
  .ant-picker {
    width: 280px;
    padding: 0;
    border-radius: 6px;
  }
  .ant-picker-input input {
    padding: 8px;
    line-height: 20px;
    height: auto;
  }
  .ant-picker-suffix {
    padding-right: 10px;
  }
}
